.title{
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: 30px;
    height: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 50px;
}
.category{
    padding-left: 10px;
    font-size: 20px;
}
.plus{
    display: flex;
    font-size: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-left-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}
.link{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.subCatContainer{
    display: flex;
    position: relative;
    top:15px;
    height: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    animation-name: dropdownslide;
    animation-duration:0.2s;
}
.plusText{
    margin-top: -8px;
}
@keyframes dropdownslide{
    from {height: 0px;}
    to {height: 75px}
}

.container b:hover {background-color: rgb(138, 138, 138); transition: background-color 150ms linear; cursor:pointer}
.subCatContainer div:hover {background-color: rgb(138, 138, 138); transition: background-color 150ms linear;}