.title{
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: 30px;
    height: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 50px;
}
.category{
    font-size: 20px;
    padding-left: 10px;
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-right-style: solid
}

.container b:hover {background-color: rgb(138, 138, 138); transition: background-color 150ms linear; cursor:pointer}